Set Term = "foot"

# Window Placer
#placer {
#  xorigin = 5  # place the first window at X% from the left
#  yorigin = 5  # place the first window at X% from the top
#  xstep = 5    # step by X% of desktop horizontally
#  ystep = 5    # step by X% of desktop vertically
#  children = true
#}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
  sway_bar_id "bar-0"
  layer "top"
}

include("winops.widget")

# Panel layout

layout {
  size = "95%"
  margin = 4
  include("mabox/startmenu.widget")

  button {
    style = "launcher"
    value = "terminal"
    action = Exec $Term
    action[3] = "terminator"
    tooltip = "1:foot | 3:terminator"
  }

  button {
    style = "launcher"
    value = "firefox"
    action = "firefox"
  }

  pager {
    style = "pager"
    rows = 1
    preview = true
  }

  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: false; }" # stretch horizontally
    group = true
    group cols = 1
    group style = "taskbar_group"
    group labels = true
    group icons = true
    icons = true
    labels = true
    action[3] = Menu "winops"
    action[2] = Close
    action[4] = Minimize
    action[5] = UnMinimize
  }

  label { css = "* { -GtkWidget-hexpand: true; min-height: 30x; }" }

  tray {
    rows = 1
  }
  #include("weather.widget")
  include("volume.widget")
  include("mabox/cpu.widget")
  include("mabox/memory.widget")

  include("battery-svg.widget")
  include("network-module.widget")
# Select pulse-module or alsa-module based on your sound configuration
#  include("pulse-module.widget")
# include("alsa-module.widget")
#  include("mpd-intmod.widget")
#  include("sway-lang.widget")

  grid {
    css = "* { padding-left: 5px; padding-right: 5px; }"
    label {
      value = Time("%k:%M")
      loc(1,1)
    }
    label {
      value = Time("%a %e %b")
      loc(1,2)
    }
  }
}

